extends ../layout/thpage_layout

block head
  - var title = 'Экокуб || Спасибо за заявку'
  // meta(http-equiv='refresh', content= '3; URL=index.html')
block content
  +header()
  .step-form
    .container
      .row
        .col
          .top-block__container
            .top-block__text
              //- p Тест для подбора проектов деревянного дома:
              p 
              h1.h1 Спасибо за заявку ! <br>
                span Мы свяжемся с Вами в ближайшее время
