/* lead-up style */
//retina
// https://github.com/strues/retinajs
// для использования доставляем дата атрибут data-rjs="3", в бекграундах используем миксин
// +retina('../img/general/', 3, cover, center center no-repeat)
//@import "../libs/retina/_retina.sass"

//+triangle(right, 5px, 5px, #fff)

@import "smart-grid"
@import "variabls"
@import "mixin"
@import "font"
@import "sprite"
//@include retina-sprites($retina-groups) //раскоменить для ретины
@import "same_style"

// @import "pixel-glass"

/* lead-up style end */

/* blocks style */

/* head */
@import "../pug/modules/header/header"

/* foot */
@import "../pug/modules/foot/foot"

/* forms */
@import "../pug/modules/forms/forms"

/* menu */
@import "../pug/modules/menu/menu"

/* blocks style end*/


//.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play
  background-image: url('../img/general/fotorama.png')
  background-repeat: no-repeat

//smartgrid settings 
.container
  +container()
  width: 100%
.row
  +row()
.col
  +col()
  +cols(12)

/* page style */



.top-block
  display: flex
  flex-direction: column
  justify-content: space-between
  // height: 100vh
  // min-height: 640px
  min-height: 100vh


  background: url(../img/general/house.png) no-repeat left center, url(../img/general/surp.png) no-repeat right center
  transition: background .25s linear
  // background-color: rgba(0, 128, 0, 0.2)
.top-block--action
  background: url(../img/general/house_action.png) no-repeat left center, url(../img/general/surp_action.png) no-repeat right center

.preload-image
  visibility: hidden
  display: none



.top-block__container
  max-width: 860px
  width: 100%
  margin-left: auto
  margin-right: auto
  // background: silver
.top-block__text
  text-align: center
  
  font-size: 20px
  font-weight: 300

  p
    span
      font-size: 18px
      color: $or


.top-block__variant
  +col()
  +cols(6)
  text-align: center


.variant__img
  height: 105px

.variant__number 
  margin: 30px 0 25px
  
  font-size: 36px
  font-weight: 800
  span
    color: $or

.variant__desc
  
  font-size: 18px
  font-weight: 300
  +lh(24,18)


.main-action
  margin-top: 50px
  text-align: center
.main-action__box
  position: relative
  display: inline-block
  padding: 20px
  border-radius: 60px
  background-color: #f1f1f3
  &::before
    content: ''
    position: absolute
    bottom: 10%
    left: 90%
    +sprite($chip)
    pointer-events: none
    // transform: translate(70%,-50%)
  // .btn
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)

.scd-screen
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 100vh
  margin-top: -60px
  padding-top: 65px
  background-color: #f1f1f3

.gift-block
  padding-top: 65px
  padding-bottom: 40px
  background-color: #f1f1f3


.gift-part
  +col()
  +cols(3)
  text-align: center
  // background: #000


.gift__title
  min-height: 45px
  
  font-size: 20px
  font-weight: 800
  line-height: 1.1
  text-transform: uppercase
  letter-spacing: 0.2px


.gift__image
  position: relative
  display: inline-block
  margin: 30px 0
  // font-size: 0
  // background: silver
  img
    border-radius: 50%
    box-shadow: 0px 0px 11px 0 rgba(0, 0, 0, 0.2)
.gift__desc
  position: absolute
  top: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  width: 50px
  height: 50px
  cursor: pointer

  color: #ffffff
  
  font-size: 34px
  font-weight: 800


  border-radius: 50%
  background-color: $or


.gift-warning
  display: none
  margin-top: 20px
  text-align: center
  color: tomato
  font-size: 25px


.tooltip
  width: 285px
  margin-top: 15px
  // min-height: 91px
  padding: 10px

  
  font-size: 16px
  font-weight: 300
  letter-spacing: 0.16px


  border-radius: 10px
  box-shadow: 0 0 10px rgba(38, 38, 38, 0.25)
  background-color: #ffffff


.tooltip-arrow
  position: absolute
  bottom: 100%
  +triangle(top, 15px, 15px, #fff)


.gift-part--current
  .btn
    color: #fff
    background: $def
    border: 3px solid #000




.gift-chosen
  margin-top: 40px
  text-align: center
  font-size: 30px
  font-weight: 300
  text-transform: uppercase
  letter-spacing: 0.3px
  b
    display: block
    margin-top: 10px
    font-weight: 800
    color: $or



.action-block
  text-align: center
  background-color: #f1f1f3


 

.action-block__btn-box
  .btn
    position: relative
    &::before,&::after
      content: ''
      position: absolute
      top: 50%
      transform: translateY(-50%)

    &::before
      right: 110%
      +sprite($left)
    &::after
      left: 110%
      +sprite($right)
    &:hover
      &::before
        animation: rightAnim 2s infinite linear
      &::after
        animation: leftAnim 2s infinite linear
@keyframes leftAnim
  0%
    margin-left: 0
  50%
    margin-left: 30px
  100%
    margin-left: 0
 
@keyframes rightAnim
  0%
    margin-right: 0
  50%
    margin-right: 30px
  100%
    margin-right: 0




.action-block__police
  margin-top: 30px
  margin-bottom: 50px
  font-size: 18px
  b
    font-weight: inherit
    color: $or
  span
    color: #fba439



.foot
  padding: 10px 0
  text-align: center
  color: #a8a7a7
  font-family: $op
  font-size: 16px
  font-weight: 400
  background-color: #e5e5e5






 


.step-title
  position: relative
  z-index: 3
  color: #ffffff
  font-size: 24px
  font-weight: 300
  span
    position: relative
    display: inline-block
    padding: 10px
    padding-left: 0
    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: -100vw
      right: 0
      z-index: -1
      background: #000
   
.step-part
  +col()
  +cols(6)

.fiel-controll 
  .svg
    +size(30,30)
    margin-left: 20px
    fill: #fff



.fieldset
  background: silver

.fieldset--active
  background: #fff


.form-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 623px
  padding: 20px
  border: 6px dashed $or
  background-repeat: no-repeat
  background-position: center
  p
    text-align: center
    font-size: 30px
    font-weight: 800
    letter-spacing: 0.3px


.form-box__sizing
  position: absolute
  top: 20px
  right: 20px
  min-width: 80px


.sizing__item
  display: flex
  align-items: center
  justify-content: center
  padding: 4px 10px
  color: #fff
  background-color: $or

.sizing__item--count
  height: 55px
  margin-bottom: 2px
  font-size: 22px
  
.sizing__item--units
  height: 35px
  flex: 20px
  font-weight: 800
  text-transform: uppercase






.title 
  display: flex
  align-items: center
  padding-right: 10px
  font-size: 30px
  font-weight: 800
  span
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    width: 50px
    height: 50px
    margin-right: 35px
    color: #ffffff
    font-size: 36px
    font-weight: 800
    line-height: 1
    border-radius: 50%
    background-color: $or




.jq-checkbox, .jq-radio
  // vertical-align: -4px
  display: inline-flex
  align-items: center
  justify-content: center
  width: 21px
  height: 21px
  box-shadow: 0 0 10px rgba(38, 38, 38, 0.25)
  cursor: pointer

.jq-checkbox.focused, .jq-radio.focused
  // border: 1px solid #08C

.jq-checkbox.disabled, .jq-radio.disabled
  opacity: .55

.jq-radio
  border-radius: 50%
  &.checked .jq-radio__div
    width: 12px
    height: 12px
    // margin: 3px 0 0 3px
    border-radius: 50%
    // background: #777
    background-color: $or
    // box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7)

.quest-block
  padding-top: 40px
  padding-left: 40px

.quest
  display: flex
  // align-items: center
  flex-wrap: wrap
  margin-bottom: 20px
  font-size: 18px
  line-height: 24px
  span
    display: block
    width: calc(100% - 50px)
    // background: #000
    margin-left: 20px
    input[type="text"]
      display: block
      max-width: 286px
      width: 100%
      height: 35px
      padding-left: 15px
      border-radius: 3px
      color: #bfbaba
      font-size: 16px
      border: 1px solid $or
  i
    display: block
    width: 100%
    // background: #000
    color: $or
    font-style: normal












































































/* page style end */

/*media style*/
@import "media"
